<div class="row">
    <div class="col-sm-3 col-sm-offset-2">
        <h2>Create an Account</h2>
        <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name" [(ngModel)]="model.name">
            </div>
            <div class="form-group">
                <label for="surname">Surname</label>
                <input type="text" class="form-control" name="surname" [(ngModel)]="model.surname">
            </div>
            <div class="form-group">
                <label for="login">Login</label>
                <input type="text" class="form-control" name="login" [(ngModel)]="model.login" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" [(ngModel)]="model.email" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" [(ngModel)]="model.password" required>
            </div>
            <button class="btn btn-success" typpe="submit">Register</button>
        </form>
        <p class="text-danger">{{ errorMessage }}</p>
    </div>
</div>