<div class="functionalities">
    <h1 class="title">Our Services...<i class="fab fa-artstation"></i></h1>
    <span id="seperate"></span>
    <div class="row main">
        <div class="col-lg-4">

            <div class="box-element product">
                <h1><strong>Add Child <i class="far fa-bookmark"></i></strong></h1>
                <span>Choose the service for more details!</span>
                <br>
                <hr>
                <a class="btn btn-outline-success" routerLink="/child">View</a>
                <a class="btn btn-outline-secondary" style="float: right">More about</a>

            </div>
        </div>

        <div class="col-lg-4">

            <div class="box-element product">
                <h1><strong>List Child <i class="fas fa-bookmark"></i></strong></h1>
                <span>Choose the service for more details!</span>
                <br>
                <hr>
                <a class="btn btn-outline-success" routerLink="/list-child">View</a>
                <a class="btn btn-outline-secondary" style="float: right">More about</a>

            </div>
        </div>

        <div class="col-lg-4">

            <div class="box-element product">
                <h1><strong>Add Place <i class="far fa-bookmark"></i></strong></h1>
                <span>Choose the service for more details!</span>
                <br>
                <hr>
                <a class="btn btn-outline-success" routerLink="/place">View</a>
                <a class="btn btn-outline-secondary" style="float: right">More about</a>


            </div>
        </div>
        <div class="col-lg-4">

            <div class="box-element product">
                <h1><strong>List of Places <i class="fas fa-bookmark"></i></strong></h1>
                <span>Choose the service for more details!</span>
                <br>
                <hr>
                <a class="btn btn-outline-success" routerLink="/list-place">View</a>
                <a class="btn btn-outline-secondary" style="float: right">More about</a>


            </div>
        </div>
        <!-- <div class="col-lg-4">

            <div class="box-element product">
                <h1><strong>Schedule</strong></h1>
                <hr>
                <a class="btn btn-outline-success" routerLink="/edit-schedule(child._id)">View</a>

            </div>
        </div> -->
        <!-- <div class="col-lg-4">

            <div class="box-element product">
                <h1><strong>List of Schedules</strong></h1>
                <span>Choose the service for more details!</span>
                <br>
                <hr>
                <a class="btn btn-outline-success" routerLink="/list-schedule">View</a>

            </div>
        </div>
        <div class="col-lg-4">

            <div class="box-element product">
                <h1><strong>Status</strong></h1>
                <span>Choose the service for more details!</span>
                <br>
                <hr>
                <a class="btn btn-outline-success" routerLink="/status">View</a>

            </div>
        </div> -->
    </div>
</div>