<div class="bg">

    <!-- about us -->
    <div class="container">
        <div class="about">
            <h3 class="title">About Us <i class="fab fa-blackberry"></i></h3>
            <span id="seperate"></span>
            <p>We are a team, through many years of research using localization tools, we have asked ourselves the question: why not help parents in their daily lives to know where their children are. From this, the idea was born, our objective and our ambition
                to put this web application at your disposal, for a better monitoring of our children today, thanks to the expansion of the internet.</p>
        </div>

    </div>


    <!-- Get touch -->
    <section id="contact">
        <div class="container">
            <h1 class="title2">Get In Touch</h1>
            <div class="row">

                <div class="col-md-6 contact-info">
                    <div class="follow"><b>Address:</b><i class="fa fa-map-marker"></i>Ul.Arkady, 23-232, Wrocław</div>
                    <div class="follow"><b>Phone:</b><i class="fa fa-phone"></i>0048 000 000 000</div>
                    <div class="follow"><b>Email:</b><i class="fa fa-envelope-o"></i>teams.localization@gmail.com</div>
                    <div class="follow"><label><b>Get Social:</b></label>
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>


</div>